<app-header></app-header>
<div class="page-header header-filter" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-6 .offset-md-3">
                    <br><h3 class="title">Angular 7</h3><br>
                    <p>
                            Angular is a JavaScript framework which makes you able to create reactive Single Page Applications (SPAs). This is a leading front-end development framework which is regularly updated by Angular team of Google. Angular 7 is completely based on components. It consists of several components forming a tree structure with parent and child components.
                    </p><p>
                            In this tutorial, you will learn how to prepare your development environment to start building your amazing modern websites with the cutting-edge framework Angular 7. This tutorial includes Angular 7 introduction and features, Angular 7 components, Angular 7 directives, databinding, event binding, property binding, modules, templates, pipes, services, routing etc.
                    </p>
                    <h6>Prerequisites:</h6>
                    <p>Before learning Angular 7 in depth, you must have the basic knowledge of AngularJS, Visual Studio Code IDE, concepts of any server-side programming language and JavaScript.</p>
                </div>
                <div class="col-md-6">

                    <img src="../../assets/images/angular.png" width="500px" height="500px">        
                </div>
            </div>
        </div>
    </div>


