<app-trainerheader></app-trainerheader>
<!-- Team -->

<section id="team" class="pb-5">
        <div class="container">
            
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <a href="/editskills" ><i class="fa fa-edit" style="font-size:100px;"></i></a><br><br/>
                                        <h4 class="card-title">Edit Skills</h4>
                                        <p class="card-text">Edit your skills.</p>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <a href="#" ><i class="fa fa-hourglass-half" style="font-size:100px;"></i></a><br><br/>
                                        <h4 class="card-title">Trainings</h4>
                                        <a class="btn btn-primary btn-sm" routerLink='/trainercurrent' >Current Trainings</a><br><br/>
                                        <a class="btn btn-primary btn-sm" routerLink='/trainercompleted'  >Completed Trainings</a>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <a href="/paymenthistory" ><i class="fa fa-credit-card" style="font-size:100px;"></i></a><br><br/>
                                        <h4 class="card-title">Payments</h4>
                                        <p class="card-text">Click to view your payment details.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br/><br><br>
    </section>
    
    
