<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-light py-3 main-nav">
  <div class="container">
        <a class="navbar-brand" href="index.html">Mentor On Demand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/firstpagebody">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">ExploreCourses</a>
            <div class="dropdown-menu" id="d1">
              <h5 class="dropdown-header" style="color: green">Trending Technologies</h5>
              <a class="dropdown-item" href="/ai">AI</a>
              <a class="dropdown-item" href="/angular">Angular</a>
              <h5 class="dropdown-header" style="color: green">Popular Tutorials</h5>
              <a class="dropdown-item" href="#">Python</a>
              <a class="dropdown-item" href="#">Java SE</a>
              <h5 class="dropdown-header" style="color: green">Database Tutorials</h5>
              <a class="dropdown-item" href="#">Oracle</a>
              <a class="dropdown-item" href="#">Mongo DB</a>
              <h5 class="dropdown-header" style="color: green">Web Technology</h5>
              <a class="dropdown-item" href="#">HTML</a>
              <a class="dropdown-item" href="#">CSS</a>
              <a class="dropdown-item" href="#">Bootstrap</a>
            </div>
          </li>
          <li>
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Login</a>
              <div class="dropdown-menu" id="d2">
                  <h5 class="dropdown-header" style="color: green">Login as</h5>
                  <a class="dropdown-item" href="/login">Trainee</a>
                  <a class="dropdown-item" href="/trainerlogin">Trainer</a>
                  <a class="dropdown-item" href="/adminlogin">Admin</a>
                </div>
          </li>
          <li>
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Signup</a>
              <div class="dropdown-menu" id="d3">
                  <h5 class="dropdown-header" style="color: green">Signup as</h5>
                  <a class="dropdown-item" href="/register">Trainee</a>
                  <a class="dropdown-item" href="/trainerregister">Trainer</a>
                </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/team">OurTrainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">AboutUs</a>
          </li>
        </ul>
    </div>
  </div>
</nav>



