<app-header></app-header>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
<div class="carousel-inner">
    <div class="carousel-item active">
    <div class="page-header header-filter" data-parallax="true">
        <div class="container">
            <div class="row">
    		    <div class="col-md-6 .offset-md-3">
                        <br>
    			    <h1 class="title">Start your Learning Journey With Us.</h1><br>
                    <h4>We envision a world where anyone,anywhere can transform their life by accessing the best learning experience. Join our community today as a Student.</h4>
                    <br>
                    <a href="/mainsearch" class="btn btn-info">Search Trainer</a>&nbsp;
                    <a href="/trainerlogin" class="btn btn-info">Be a Trainer</a>
                    <br>
                </div>
                <div class="col-md-6">
                <img src="../../assets/images/firstpage.png" width="500px" height="400px">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="carousel-item">
            <div class="page-header header-filter" data-parallax="true">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 .offset-md-3">
                                    <br>
                                <h1 class="title">Turn your passion into income.</h1><br>
                                <h4>Are you passion about passing on your knowledge to others? Sign Up today to our be a part of our team of Trainers.</h4>
                                <br>
                                <a href="/trainerlogin" class="btn btn-info">Be a Trainer</a>
                                <br>
                            </div>
                            <div class="col-md-6">
                            <img src="../../assets/images/earn.png" width="600px" height="400px">
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="carousel-item">
            <div class="page-header header-filter" data-parallax="true">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 .offset-md-3">
                                    <br>
                                <h1 class="title">Get Cetified.</h1><br>
                                <h4>Update your skill set at educational and proffessional levels and get paid online certification.</h4>
                                <br>
                                <a href="/login" class="btn btn-info">Login</a>&nbsp;

                                <br>
                            </div>
                            <div class="col-md-6">
                            <img src="../../assets/images/certified.png" width="400px" height="400px">
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
    </a>
</div>

    