
<app-header></app-header>
<section class="search-sec">
        <div class="container">
            <form action="#" method="post" novalidate="novalidate">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <input type="text" class="form-control search-slt" placeholder="Enter Course Name">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                              <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Duration</option>
                                <option>1 week</option>
                                <option>4 weeks</option>
                                <option>6 weeks</option>
                                <option>12 weeks</option>
                            </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect2">
                                    <option>Timing</option>
                                    <option>9am-12pm</option>
                                    <option>3pm-6pm</option>
                                    <option>6pm-9pm</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                <button type="button" class="btn btn-danger wrn-btn"  data-target="searchresult">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</section>
<br><br/>
<div id="searchresult">
    
        <div class="container mt-3">
    
    
            <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0;">
    
    
                <div class="media-body">
                    <div class="row align-items-center justify-content-center">
                        <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="c" class="mr-5 mt-2 rounded-circle" style="width:60px;">
                        <span class="col-md-2 pt-3">Trainer : <span><b>John Doe</b></span> </span>
                        <span class="col-md-3 pt-3">Rating : <span><b>4.5</b></span> </span>
                        <span><button type="button" class="btn btn-info" data-toggle="modal" data-target="#trainer2">View Profile</button></span>&nbsp;&nbsp;&nbsp;
                        <a type="button" class="btn btn-success" routerLink='/login'>Propose Training</a>
    
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="container mt-3">
    
    
            <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0; ">
    
    
                <div class="media-body">
                    <div class="row align-items-center justify-content-center">
                        <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="c" class="mr-5 mt-2 rounded-circle" style="width:60px;">
                        <span class="col-md-2 pt-3">Trainer : <span><b>Linden Sky Davis</b></span> </span>
                        <span class="col-md-3 pt-3">Rating : <span><b>4</b></span> </span>
                        <span><button type="button" class="btn btn-info" data-toggle="modal" data-target="#trainer3">View Profile</button></span>&nbsp;&nbsp;&nbsp;
                        <a type="button" class="btn btn-success" routerLink='/login'>Propose Training</a>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <div class="container">
            <div class="modal fade" id="trainer2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            
                            <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                            <h3 class="media-heading" >John Doe <small>UK</small></h3><br>
                            <span><strong>Skills: </strong></span>
                                <span class="label label-warning">Java Full Stack (HtML,Bootstrap,Angular,Java SE,MongoDB,MySQL,Oracle)</span><br>
                            <span><strong>Qualification: </strong></span>
                                <span class="label label-warning">Oracle Java Certification</span><br>
                            <span><strong>Alma Mater: </strong></span>
                                <span class="label label-warning">University of Michigan</span><br>
                            <span><strong>Experience: </strong></span>
                                <span class="label label-warning">5 years</span><br>
                            <span><strong>Number of Trainings Completed: </strong></span>
                                <span class="label label-warning">15</span><br>
                            <span><strong>Rating: </strong></span>
                                <span class="label label-warning">4.5</span><br>
                            <br>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
                <div class="modal fade" id="trainer3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                
                                <img src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                                <h3 class="media-heading" >Linden Sky Davis <small>USA</small></h3><br>
                                <span><strong>Skills: </strong></span>
                                    <span class="label label-warning">Angular CLI</span><br>
                                <span><strong>Alma Mater: </strong></span>
                                    <span class="label label-warning">Yale University</span><br>
                                <span><strong>Experience: </strong></span>
                                    <span class="label label-warning">1 years</span><br>
                                <span><strong>Number of Trainings Completed: </strong></span>
                                    <span class="label label-warning">2</span><br>
                                <span><strong>Rating: </strong></span>
                                    <span class="label label-warning">4.0</span><br>
                                <br>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

