<app-header></app-header>
<div class="page-header header-filter" data-parallax="true">
    <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                      <br/><br><br/><br><h1 class="title">About Us</h1><br>
                    <h4>We envision a world where anyone,anywhere can transform their life by accessing the best learning experience. We offer expert training in latest technologies in the field of Computer Science for educational and professional requirements.</h4>
                </div>
                <div class="col-md-6">
                    <img src="../../assets/images/aboutus.png" >
                </div>
            </div>
    </div>
</div>
    
        
    
