<app-trainerheader></app-trainerheader>
<section id="paymenthistory">
        <br><h4 class="section-title">Payment History</h4>
            <div class="container mt-3">
        
        
                <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0;">
        
        
                    <div class="media-body">
                        <div class="row align-items-center justify-content-center">
        
                            <span class="col-md-3 pt-3">Trainee : <span><b>Sophie Turner</b></span> </span>
                            <span class="col-md-2 pt-3">Course : <span><b>AI</b></span> </span>
                            <span class="col-md-2 pt-3">Completed On : <span><b>25 March 2019</b></span> </span>
                            <span class="col-md-2 pt-3">Amont Received : <span><b>Rs.5000</b></span> </span>
        
                        </div>
                    </div>
                </div>
        
            </div>
        
            <div class="container mt-3">
        
        
                <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0; ">
        
        
                    <div class="media-body">
                        <div class="row align-items-center justify-content-center">
                           
                            <span class="col-md-3 pt-3">Trainee : <span><b>Ann Tomas</b></span> </span>
                            <span class="col-md-2 pt-3">Course : <span><b>Python</b></span> </span>
                            <span class="col-md-2 pt-3">Completed On : <span><b>18 April 2019</b></span> </span>
                            <span class="col-md-2 pt-3">Amont Received : <span><b>Rs.3000</b></span> </span>
        
                        </div>
                    </div>
                </div>
        
            </div>
        
            
          
</section>
        

