<app-traineeheader></app-traineeheader>
<section id="traineecurrent">
        <br><h4 class="section-title">Ongoing Trainings</h4>
        
    
        
            <div class="container mt-3">
        
        
                <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0; ">
        
        
                    <div class="media-body">
                        <div class="row align-items-center justify-content-center">
                            <img src="../../assets/images/angular.png" alt="c" class="mr-5 mt-2 rounded-circle" style="width:60px;">
                            <h6 class="col-md-2 pt-3"><b>Angular</b></h6>
                            <span class="col-md-3 pt-3">Trainee : <span><b>Andrew Tomas</b></span> </span>
                            <span class="col-md-2 pt-3">Progress : <span><b>90%</b></span> </span>
                            <span><button type="button" class="btn btn-info">Resume Course</button></span>&nbsp;&nbsp;&nbsp;
                            
                           
                        </div>
                    </div>
                </div>
        
            </div>
        
            <div class="container mt-3">
        
        
                <div class="media border p-3" style="border-radius: 1rem; background-color: #e0e0e0;">
        
        
                    <div class="media-body">
                        <div class="row align-items-center justify-content-center">
                            <img src="../../assets/images/java.png" alt="c" class="mr-5 mt-2 rounded-circle" style="width:60px;">
                            <h6 class="col-md-2 pt-3"><b>Java</b></h6>
                            <span class="col-md-3 pt-3">Trainee : <span><b>Naomy Jackson</b></span> </span>
                            <span class="col-md-2 pt-3">Progress : <span><b>Not yet Confirmed</b></span> </span>
                            <span><button type="button" class="btn btn-success">Accept</button></span>&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger">Reject</button>
                        </div>
                    </div>
                </div>
        
            </div>
        
        <br><br/><br/>
</section>
        

