<app-header></app-header>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TRAINERS</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Lisbeth Salander</h4>
                                    <p class="card-text">Ethical Hacking.</p>
                                    <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#trainer1" >View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">John Doe</h4>
                                    <p class="card-text">Java Full Stack Developer.</p>
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainer2">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Linden Sky Davis</h4>
                                    <p class="card-text">Angular CLI.</p>
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainer3">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Augustus Waters</h4>
                                    <p class="card-text">Python Django.</p>
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainer4">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Robert Langdon</h4>
                                    <p class="card-text">Artificial Intelligence.</p>
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainer5">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg"
                                            alt="card image"></p>
                                    <h4 class="card-title">Anna Joe</h4>
                                    <p class="card-text">Spring MVC.</p>
                                    <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainer6">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>

<div class="container">
    <div class="modal fade" id="trainer1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer1.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >Lisbeth Salander <small>USA</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Ethical Hacking</span><br>
                    <span><strong>Qualification: </strong></span>
                        <span class="label label-warning">PHD in Network Security and Cryptography</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">University of Michigan</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">2 years</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">5</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">4.8</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="trainer2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer2.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >John Doe <small>UK</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Java Full Stack (HtML,Bootstrap,Angular,Java SE,MongoDB,MySQL,Oracle)</span><br>
                    <span><strong>Qualification: </strong></span>
                        <span class="label label-warning">Oracle Java Certification</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">University of Michigan</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">5 years</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">15</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">4.5</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="trainer3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer3.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >Linden Sky Davis <small>USA</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Angular CLI</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">Yale University</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">1 years</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">2</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">4.0</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="trainer4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer4.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >Augustus Waters <small>USA</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Python Django</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">John Hopkins University</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">6 months</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">2</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">4.9</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="trainer5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer5.png" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >Robert Langdon <small>India</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Artificial Intelligence</span><br>
                    <span><strong>Qualification: </strong></span>
                        <span class="label label-warning">Mtech in Artificial Intelligence</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">IIT Madras</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">1 year</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">5</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">4.9</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="trainer6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    
                    <img src="../../assets/images/trainer6.jpg" name="aboutme" width="140" height="140" border="0" class="img-circle">
                    <h3 class="media-heading" >Anna Joe <small>Switzerland</small></h3><br>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning">Spring MVC</span><br>
                    <span><strong>Alma Mater: </strong></span>
                        <span class="label label-warning">Yale University</span><br>
                    <span><strong>Experience: </strong></span>
                        <span class="label label-warning">2 years</span><br>
                    <span><strong>Number of Trainings Completed: </strong></span>
                        <span class="label label-warning">8</span><br>
                    <span><strong>Rating: </strong></span>
                        <span class="label label-warning">5</span><br>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>