<!-- Team -->
<app-traineeheader></app-traineeheader>
<section id="team" class="pb-5">
    <div class="container">
        
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <br>
                                    <a href="/searchtab" ><i class="fa fa-search" style="font-size:100px;"></i></a><br><br/>
                                    <h4 class="card-title">Search Trainers</h4>
                                    <p class="card-text">Click to find your favorite trainers,view courses and propose a new training.</p>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <br>
                                    <a href="/traineecurrent" ><i class="fa fa-hourglass-half" style="font-size:100px;"></i></a><br><br/>
                                    <h4 class="card-title">Current Trainings</h4>
                                    <p class="card-text">Click to find your ongoing trainings and its progress.</p>
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <br>
                                    <a routerLink="/traineecompleted" ><i class="fa fa-mortar-board" style="font-size:100px;"></i></a><br><br/>
                                    <h4 class="card-title">Completed Trainings</h4>
                                    <p class="card-text">Click to view your completed trainings and its details.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br/><br><br>
</section>

